<h1>Meetups</h1>
<ul>
  <% @meetups.each do |meetup| %>
    <li>
        <h2><a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a></h2>
    </li>
    <% end %>
</ul>

<a href="/meetups/new" class="button">Create new meetup</a>
