<h1>Meetups</h1>
<div class="meetups_container row">
  <% @meetups.each do |meetup| %>
    <div class="small-4 columns">

        <button class="meetup_page"><a href="/meetups/<%= meetup.id %>">Go to: <%= meetup.name %></a></button>
        <p>
          Description: <%= meetup.description %>
        </p>
        <p>
          Location: <%= meetup.location  %>
        </p>
    </div>
    <% end %>
</div>
