<h1>Create New Meetup</h1>

<form action="" method="post">
  <div class="row">
    <div class="small-12 columns">
      <label>Name
        <input type="text" id="name" name="name">
      </label>
    </div>
    <div class="small-12 columns">
      <label>Description
        <input type="text" id="description" name="description">
      </label>
    </div>
    <div class="small-12 columns">
      <label>Location
        <input type="text" id="location" name="location">
      </label>
    </div>
    <input type="submit" class="button" value="Create new meetup">
  </div>
</form>
