<h1>Create New Meetup</h1>

<% if @errors.length > 0 %>
<div class="flash">
  <div class="container">
    <% @errors.each do |error| %>
    <%= error %> <br>
    <% end %>
  </div>
</div>
<% end %>

<form action="/meetups/new" method="post">
  <div class="row">
    <div class="small-12 columns">
      <label for="name">Name
        <input type="text" id="name" name="name" value="<%= @name %>">
      </label>
    </div>
    <div class="small-12 columns">
      <label>Description
        <input type="text" id="description" name="description" value="<%= @description %>">
      </label>
    </div>
    <div class="small-12 columns">
      <label>Location
        <input type="text" id="location" name="location" value="<%= @location %>">
      </label>
    </div>
    <input type="submit" class="button" value="Create new meetup">
  </div>
</form>
