
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.hide_me {
  display:none;
}

label {
  color: #fff;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.member {
  list-style: none;
  padding-left: 25px;
}

.member_avatar {
  max-height: 128px;
  max-width: 128px;
}

.top-bar, .top-bar ul {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.site-name {
  padding: 0px;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}
