body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

.hide_me {
  display:none;
}

label {
  color: #fff;
}

.meetup_button {
  display: inline-block;
}

.meetup_button:nth-of-type(2), .meetup_button:nth-of-type(3), .meetup_button:nth-of-type(4) {
  padding-left: 15px;
}

.meetup_functions {
  display:inline-block;
  padding-left: 15px;
}

.member {
  list-style: none;
  padding: 0px 0px 15px 25px;
}

.member_name {
  display: inline-block;
  line-height: 128px;
  font-weight: bold;
}

.member_avatar {
  max-height: 128px;
  max-width: 128px;
}

.menu-text {
  font-size: 1.5em;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.submit_button {
  display: inline-block;
}

.top-bar, .top-bar ul, .title-bar {
  background-color: #3C3C3C;
}

.row {
  max-width: 89rem;
}

.site_name {
  padding: 0px;
}
