
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.meetup_page {
  background-color: rgb(217, 224, 74);
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}

.meetups_container {
  background-color: rgba(179, 217, 226, 0.35);
}

.hover_background {
  background-color: rgb(54, 185, 130);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.member_avatar {
  height: 128;
  width: 128;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
  color: rgb(221, 183, 203);
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}
